.question {
    .big-character {
        font-size: 5em;
    }
    .answer-button {
        min-width: 90px;
        font-size: 2em;
        @media (min-width: 768px) {
            margin: 30px 15px 10px;
        }
        @media (max-width: 768px) {
            margin: 30px 5px 10px;
        }
    }
    .no-hover {
        /* disables hover effect on touch screens */
        background-color: #fff;
        border-color: #ccc;
    }
    margin-top: 70px;
}