.question {
    .previous-result{
        max-width: 340px;
        padding: 8px;
        margin: 50px auto 30px;
    }
    .none {
        background-color: #888;
        color: #f5f5f5;
    }
    .correct {
        color: #f5f5f5;
        background-color: #080;
    }
    .wrong {
        color: #f5f5f5;
        background-color: #800;
    }
    .previous-result-none {
        max-width: 340px;
        padding: 6px;
        margin: 30px auto;
        color: #f5f5f5;
    }
    .big-character {
        font-size: 5em;
    }
    .answer-button {
        min-width: 90px;
        font-size: 2em;
        @media (min-width: 768px) {
            margin: 30px 15px 10px;
        }
        @media (max-width: 768px) {
            margin: 30px 5px 10px;
        }
    }
    .no-hover {
        /* disables hover effect on touch screens */
        background-color: #fff;
        border-color: #ccc;
    }
}