.welcome {
    p:last-child {
        margin-bottom: 0;
    }
    h4 {
        margin-top: 0;
    }
}
.choose-characters 
{
    .panel-heading {
        font-weight: bold;
    }
    .panel-footer a {
        text-decoration: none;
        color: #337ab7;
    }
    .choose-row {
        font-size: 1em;
        padding: 5px;
        user-select: none;
    }
    .choose-row:not(:last-child) {
        border-bottom: 1px #eee solid;
    }
    @media (min-width: 768px) {
        .choose-row:hover {
            background-color: #f4f4f4;
        }
    }
    .choose-row:hover {
        cursor: pointer;
    }
    .glyphicon {
        font-size: 0.9em;
    }
    .glyphicon-check {
        color: green;
    }
    .glyphicon-unchecked {
        color: #ccc;
    }
    .selection-areas {
        padding: 7px;
    }
    .success-percent {
        color: #ccc;
    }
}
.error-message {
    color: #d9534f;
    padding-bottom: 10px;
}